{% extends 'baseapp/base.html' %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'baseapp:user_login' %}" method="post">
      {% csrf_token %}
      <label for="uname">Username:</label>
      <input type="text" name="uname" placeholder="Enter Username">

      <label for="pwd">Password:</label>
      <input type="password" name="pwd">

      <input type="submit" name="" value="Login">
    </form>
  </div>
</div>
{% endblock %}
